<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>API Oscar</title>
</head>

<body>
  <h1>Bienvenidos a la API de los ganadores de los Oscar</h1>
  <p>Puedes consultar:</p>
  <ul>
    <li><a href="/winersOscar">Lista de años disponibles</a></li>
    <li><a href="/winersOscar/2011">Premios de 2011</a></li>
    <li><a href="/winersOscar/2015">Premios de 2015</a></li>
  </ul>
  <p>También pudes añadir premios a un año en contreto (por ejemplo 2011) haciendo port a:</p>
  <ul>
    <li><a href="/winersOscar/">/oscar/2011</a></li>
  </ul>
  <p>Y mandando el body correspondientessssss:</p>
  <p></p>
  <p>Para consultar en un año qué película o actores se llevaron más de 1 premio:</p>
  <ul>
    <li><a href="/winersOscar">Lista de años disponibles</a></li>
    <li><a href="/winersOscar/1">Premios de 2011</a></li>
    <li><a href="/winersOscar/20">Premios de 2015</a></li>
  </ul>
</body>

</html>